# Core
numpy
pandas
soundfile
librosa
sounddevice
webrtcvad

# Transformers & NLP
transformers>=4.40.0
torch>=2.2.0
sentencepiece
accelerate
sacremoses

# Evaluation metrics
rouge-score
bert-score
sacrebleu

# Utilities
tqdm
pathlib
asyncio
jsonlines

# Optional GPU support
--extra-index-url https://download.pytorch.org/whl/cu118
torchvision>=0.17.0
torchaudio>=2.2.0
kenlm
pyctcdecode
wavio
openpyxl